/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f5f6f8;
}

p,
a,
h2,
button,
label,
input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  background-color: #3778c2;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav a {
  font-size: 1.5rem;
  color: white;
}

nav h2 {
  color: white;
}

.notice,
.alert {
  position: absolute;
  top: 0;
  color: white;
}

button {
  border: none;
  background-color: transparent;
  color: white;
}

.add-page-text {
  font-size: 10px;
}

.main {
  padding: 0.5rem;
  margin-bottom: 5rem;
}

.btn {
  padding: 1rem;
  text-align: center;
}

.add-btn {
  background-color: #60b524;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.field {
  width: 100%;
}

input[type='checkbox'] {
  margin: 0.8rem;
}

input[type='email'],
input[type='password'],
input[type='text'],
input[type='submit'],
input[type='number'] {
  width: 100%;
  padding: 1rem;
  margin: 0.3rem 0;
  border: none;
  border-bottom: 1px solid #efefef;
  background-color: white;
}

input[type='file'] {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.add-btn a {
  border: 1px solid white;
  color: white;
  padding: 0.5rem 4.5rem;
}

@media (min-width: 375px) {
  .add-btn a {
    padding: 0.5rem 6.3rem;
  }
}

@media (min-width: 425px) {
  .add-btn a {
    padding: 0.5rem 7.5rem;
  }
}
