.category {
  background-color: white;
  margin: 0.5rem 0;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.category > div > p {
  color: black;
}

.category-one {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.category-one > div > p {
  color: #b1b1b1;
}

.category img {
  width: 3rem;
  height: 3rem;
  object-fit:cover;
}
